:root {
    --primary-color: aquamarine;
    --secondary-color: rgb(80, 78, 78);
    --body-color: rgb(201, 200, 200);
    --outside-color: whitesmoke;
    --primary-border: 2px solid;
    --work-background: rgb(77, 72, 72);
  }

body {
    background-color: var(--outside-color);
}

  .navbar-collapse {
flex-grow: unset;
}

/* Main Grid */
.page-wrapper {
    background-color: var(--body-color);
  }

/* Header Section */
.header-container {
    background-color: var(--secondary-color);
    height: 100px;
  }
  
  .header-title-background {
    display: flex;
    background-color: var(--primary-color);
    height: 80px;
    margin: auto 0;
    padding: 0 20px 0 40px;
  }
  
  .header-title {
    margin: auto 0;
    color: var(--secondary-color);
  }

/* Nav Section */
.nav-container {

  }
  
  .nav-link {
    color: var(--primary-color);
    padding: 10px 5px 0px;
    border-bottom: var(--primary-border) var(--primary-color);
    text-decoration: none;
    font-size: 24px;
  }


.jumbotron {
    background-image: url("../images/laptop-camera.jpg");
    background-size: cover;
}

/* Section Title */
.section-title {
    /* text-align: right; */
    height: auto;
    border-right: var(--primary-border) black;
  }

  .list-group-item.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

/* Buttons */
.btn-primary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Contact Section */
  .contact-link {
    margin: auto 0;
    color: var(--secondary-color);
    padding: 10px 5px 0px;
    border-bottom: 4px solid var(--secondary-color);
    text-decoration: none;
    font-size: 24px;
  }

  footer {
    background-color: var(--secondary-color);
  }

  /* Cards */
  .card {
    border: var(--primary-border) var(--primary-color);
  }

  .card-title {

  }

  /* Button */
  .btn:hover {
    box-shadow: 24px 10px 5px 0px rgba(0,0,0,0.75);
  }

/* Media Query */
@media only screen and (max-width: 992px) {
    .section-title {
        border-right: none;
        border-bottom: var(--primary-border) black;
    }
    .nav-container {
        background-color: var(--secondary-color);
    }
}

